<h1>Welcome to DOMjudge!</h1>

<p>This page contains basic information regarding this DOMjudge. DOMjudge is an automated web-based judging system for programming tasks. This DOMjudge is a fork of the official <a href="https://www.domjudge.org">DOMjudge system</a>, which is commonly used in programming contests like the <a href="https://icpc.baylor.edu/">ACM ICPC</a>.
</p>

<h2>Login</h2>

<p>
DOMjudge requires you to sign up using your <a href="https://www.uni-ulm.de/einrichtungen/kiz/service-katalog/account-zugang/kiz-account/">KIZ account</a> prior to submitting work. The login works via the single sign-on protocol without transferring your password. You can only submit solutions to excercises in a team. Upon the first login you will be presented with a choice of creating a new team or joining an existing team.
</p>

<h2>Problems and Solutions</h2>

<p>
Please consult the <a href="{{ asset('doc/manual/team/domjudge-team-manual.pdf') }}">Team manual <i class="fas fa-file-pdf"></i></a> for details about submitting solutions to problems. Please submit your solutions only via the web interface.
<b>Have fun!</b>
</p>