{% extends "public/base.html.twig" %}

{% block title %}Welcome - {{ parent() }}{% endblock %}
{% block content %}
    {% set banner = 'images/banner.png' %}
    {% if static and banner %}
        <img class="banner" src="{{ asset('images/banner.png') }}" alt="Banner">
    {% endif %}

    <div data-ajax-refresh-target data-ajax-refresh-after="initializeScoreboard" class="mt-3">
        {% include 'partials/welcome.html.twig' %}
    </div>
{% endblock %}